
<div>
<div class="container">
<h1 align=center>Customer Master</h1>
<hr>
<form v-on:submit.prevent="hit">
<div id="a1">
<label><h3>Customer type  :       </h3></label>
<form >
<input type="radio" name="gender" v-model="ptype" value="DT" checked ><p> Distributor</p>
<input type="radio" name="gender" v-model="ptype"  value="DR" > <p>Doctors</p>
<input type="radio" name="gender" v-model="ptype" value="OT"> <p>Others</p>
</form>
</div>
<div id="a2">
  <div>
<label><h3>State : </h3></label>
<select v-model="states">
<option v-bind:value="st['StCode']" v-for="st in state" >{{st['StCode'] + ' - - ' + st['StName']}}</option>
</select>
</div>
<div>
<label><h3>District :</h3></label>
<select v-model="district">
  <option></option>
<option v-for="dt in DtCode" v-bind:value="dt['DtCode']">{{dt['DtCode'] + ' - ' + dt['DtName']}}</option>
</select>
</div>
</div>
<div id="a3">
  <div id="a31">
<label><h3>Customer code : </h3></label>
<div class="dropdown">
  <input type="text" name="" v-model="custdet1" v-bind:placeholder="custdet">
<select onchange="this.previousElementSibling.value=this.value ; this.previousElementSibling.focus()" v-model="custdet">
<option  v-bind:value="custdetadd">{{custdetadd}}</option>
<option  v-bind:value="pt['PCode']"   v-for="pt in PCode">{{pt['PCode'] }}</option>
</select>
</div></div><div id="a32">
<label><h3>Name : </h3></label>
<input type="text" v-model="PNAME" required>
</div></div>
<div id="a4">
<label><h3>Address1  :</h3></label>
<input type="text" v-model="Address1" required>
</div>
<div id="a5">
<label><h3>Address2 :</h3></label>
<input type="text" v-model="Address2">
</div>
<div id="a6">
<label><h3>Address3  :</h3></label>
<input type="text" v-model="Address3">
</div><br>
<div id="a7" >
  <div>
<label><h3>Destination</h3></label>
<input type="text" v-model="Address4">
</div><div>
<label><h3>Fax No : </h3></label>
<input type="text" v-model="Fax">
</div></div><br>
<div id="a8">
  <div>
<label><h3>phone no</h3></label>
<input type="text" v-model="Phone">
</div><div>
<label><h3>Pan no</h3></label>
<input type="text" v-model="PAN">
</div></div><br>
<div id="a9">
  <div>
<label><h3>Tin/Cst no</h3></label>
<input type="text" v-model="ADSTNO">
</div><div>
<label><h3>Dl. No</h3></label>
<input type="text" v-model="DLNO">
</div></div><br>
<div id="a10"><div>
<label><h3>Area Code</h3></label>
<input type="text" v-model="AreaCode">
</div><div>
<label><h3>Bank name</h3></label>
<input type="text" v-model="BName">
</div></div><br>
<div id="a11">
  <div>
<label><h2>TR. DISC. S</h2></label>
<input type="text" v-model="TDIS">
</div>
<div>
<label><h2>TR. DISC. N S</h2></label>
<input type="text" v-model="TDIN">
</div>
<div>
<label><h2>TRANSPORT</h2></label>
<input type="text" v-model="TRAN">
</div>
</div><hr>

<div id="a12" align="center">
  <input type="submit"  value="Create" v-on:click="change(creat)" >
  <input type="submit"  value="Save" v-on:click="change(save)"  >
  <input type="submit"  value="Delete" v-on:click="change(delete1)"  >
<router-link to="/master_report/customer" tag="button">Report</router-link>
</div>
</form>
</div>
</div>
