.container {
  width:97%;
  margin:2%;
  background:lightgrey;
}
h2 {
  display:inline
}
label,form,p {
  display:inline-block;
}
#a1 label ,#a1 form{
  width:46%;
  text-align:center;
}
#a1 form input, #a1 form p {
  margin:2%
}
#a2 div ,#a10 div,#a9 div,#a7 div,#a8 div,#a9 div {
  text-align:center;
  width:45%;
  display:inline-block;
}
#a2 div label,#a2 div select,#a31 label,#a31 option,#a32 label,#a32 input,#a7 div label,#a7 div input,#a8 div label,#a8 div input,#a9 div label,#a9 div input,,#a10 div label,#a10 div input{
  width:40%;
}
#a2 div option {
  width:100%;
}
.container div {
  display:inline
}
#a31 label,#a31 .dropdown {
  width:45%;
}
#a4 label, #a5 label, #a6 label ,#a4 input, #a5 input, #a6 input,#a32 label , #a32 input, #a {
  width:45%;
  text-align:center;
}
#a11 div {
  width:28%;
  display:inline-block;
    text-align:center;
}
div {
  margin:1%
}
#a12 input , #a12 button {
  width:18%;
  text-align:center;
  margin:1%;

}
