<div class="">
  <div class="wrapper">
    <div class="">
      <div class="">
        <h4 align='center'>{{company}}</h4>
      </div>
      <div class="">
        <p align='center'><strong align='center'> <b>GOODS RETURN / ISSUES</b> </strong></p>
      </div>
      <hr>
      <div class="gr1">
        <div class="col-xs-1 a" >
          <label><strong>Transaction Type :</strong> </label>
          <select class="form-control" name="" v-model='type'>
            <option value="GR">GR</option>
            <option value="GI">GI</option>
          </select>
        </div>
        <div class="col-xs-1 a">
          <label> <b>Sl.No : </b> </label>
          <input type="text" class='form-control' name="" value="">
        </div>
        <div class="col-xs-1 a">
          <label><b>Date :</b> </label>
          <input type="date" class='form-control' name="" value="">
          </div>
      </div>
      <div>
<br>
      <div class="form-group">
        <label class='col-sm-5'> <strong>Party Name</strong> </label>
        <input type="text" name="" value="">
      </div>
      <div class="form-group">
        <label class='col-sm-5'> <strong>Remarks</strong> </label>
        <input type="text" name="" value="">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm ">
             <thead class='table-danger'>
                      <th><strong>S.No</strong></th>
                     <th><strong>Item Code</strong></th>
                     <th><strong>Batch NO</strong></th>
                     <th> <strong>Mfg Dt.</strong> </th>
                     <th> <strong>Exp Dt.</strong> </th>
                     <th> <strong>Qty</strong> </th>
                     <th> <strong>Unit</strong> </th>
                     <th> <strong>Rate</strong> </th>
             </thead>
             <tbody>
                 <tr v-for="(row, index) in rows">
                     <td><label>{{index + 1}}</label> </td>
                     <td><input type="text" v-model="row.hsn"></td>
                     <td><input type="text" v-model="row.batch"></td>
                     <td><input type="date" v-model="row.mfgdt"></td>
                     <td> <input type="text" v-model="row.expdt"></td>
                     <td> <input type="text" v-model="row.qty"></td>
                     <td> <input type="text" v-model="row.unit"></td>
                     <td> <input type="text" v-model="row.rate"></td>
                     <td> <a  v-on:click="removeElement(index);" style="cursor: pointer">Remove</a>
                 </td>
                 </tr>
             </tbody>
         </table>
         <hr>
         <div align='center'>
             <button id='a1' class="button btn-primary" @click="addRow">Add row</button>
       </div>
    </div>
    <hr>
    <div class="bottom" align='center'>
      <button type="button" name="button">
<b>CREATE</b></button>
      <button type="button" name="button"> <b>FIND</b></button>
      <button type="button" name="button"> <b>DELETE</b></button>
    </div>
    </div>
  </div>
</div>
