<div class="container">
  <div class="">
    <div class="">
      <div class="">
        <h4 align='center'>{{company}}</h4>
      </div>
      <div class="">
        <p align='center'><strong align='center'> <b>GOODS RETURN / ISSUES</b> </strong></p>
      </div>
      <hr>
      <div class="gr1">
        <div class="col-xs-1 a" >
          <label><strong>Transaction Type :</strong> </label>
          <select class="form-control" name="" v-model='type'>
            <option value="GR">GR</option>
            <option value="GI">GI</option>
          </select>
        </div>
        <div class="col-xs-1 a">
          <label> <b>Sl.No : </b> </label>
          <input v-model='gno' type="text" class='form-control' name="" value="">
        </div>
        <div class="col-xs-1 a">
          <label><b>Date :</b> </label>
          <input type="date" v-model='gdate' class='form-control' name="" value="">
          </div>
      </div>
      <div>
<br>
      <div class="form-group">
        <label class='col-sm-5'> <strong>Party Name</strong> </label>
        <input type="text" v-model='gname' name="" value="">
      </div>
      <div class="form-group">
        <label class='col-sm-5'> <strong>Remarks</strong> </label>
        <input type="text" name="" v-model='gremark' value="">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm ">
             <thead class='table-danger'>
                      <th><strong>S.No</strong></th>
                     <th><strong>Item Code</strong></th>
                     <th><strong>Batch NO</strong></th>
                     <th> <strong>Mfg Dt.</strong> </th>
                     <th> <strong>Exp Dt.</strong> </th>
                     <th> <strong>Qty</strong> </th>
                     <th> <strong>Unit</strong> </th>
                     <th> <strong>Rate</strong> </th>
             </thead>
             <tbody>
                 <tr v-for="(row, index) in rows">
                     <td><label>{{index + 1}}</label> </td>
                     <td>
                        <select class="" name="" v-model="row.data1">
                          <option value=""></option>
                          <option v-bind:value='value' v-for="value in gds">{{value.ItemCd + ' -  ' + value.DESCR + ' - ' + value.BatchNo}}</option>
                        </select>
                     </td>
                     <td><input type="text" v-model="row.batch = row.data1.BatchNo"></td>
                     <td><input type="text" v-model="row.mfgdt = row.data1.MfgDt"></td>
                     <td> <input type="text" v-model="row.expdt = row.data1.ExpDt"><span>Qty in Hand</span></td>
                     <td> <input type="text" v-model="row.qty"><span>{{row.data1.Qty}}</span></td>
                     <td> <input type="text" v-model="row.unit = row.data1.RUnit"></td>
                     <td> <input type="text" v-model="row.rate = row.data1.RATE"></td>
                     <td> <a  v-on:click="removeElement(index);" style="cursor: pointer">Remove</a>
                 </td>
                 </tr>
             </tbody>
         </table>
         <hr>
         <div align='center'>
             <button id='a1' class="button btn-primary" @click="addRow">Add row</button>
       </div>
    </div>
    <hr>
    <div class="bottom" align='center' >
      <button type="button" name="button" v-on:click="creategoods()">
<b>CREATE</b></button>
<router-link class='btn-warning' to="/report/gr_gi" tag="button">Report</router-link>
<button type="button" name="button"> <b>DELETE</b></button>
    </div>
    </div>
  </div>
</div>
